html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

@keyframes bop {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

button {
  animation: bop 5s infinite;
}
.bop {
  animation: bop 5s infinite;
}